<p id="notice"><%= notice %></p>

<h1>成績列表</h1>
<%= link_to '新增學生', new_score_path, class:"btn-success btn-lg"%>
<hr>
分數級別說明：90分以上S/80~89：A/70~79：B級/60~69：C級/未滿60：D級
<table class="table">
  <thead>
    <tr>
      <th>姓名</th>
      <th>學號</th>
      <th>分數</th>
      <th colspan="3">處理</th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.username %></td>
        <td><%= score.userid %></td>
        <td><%= display_name(score)%></td>
        <td><%= link_to '編輯', edit_score_path(score), class:"btn-success btn-xs" %></td>
        <td><%= link_to '刪除', score, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn-danger btn-xs"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


